<p id="notice"><%= notice %></p>

<h1>ブログ一覧画面</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title %></td>
        <td><%= link_to '編集', edit_poem_path(poem) %></td>
        <td><%= link_to '削除', poem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ブログの投稿する', new_poem_path %><br>
<%= link_to '下書き一覧', poem_path(1) %>
<%= link_to '論理削除一覧', poem_path(3) %>
